body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #4c6eb2;
}
.menu{
    list-style: none;
    background-color: rgb(141, 183, 35);
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    }
    .menu li a{
        text-decoration: none;
        color: aliceblue;
        padding: 20px;
        display: block;

    }
    .menu li{
        display: inline-block;
        text-align: left;
         
    }
    .menu li a:hover{
        background-color: blueviolet;
    }